In [120]:
import pandas as pd

In [121]:
usedCar_df = pd.read_csv('used_car_dataset.csv')
usedCar_df.head()

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"

In [122]:
usedCar_df.shape

(9582, 11)

In [123]:
usedCar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   model         9582 non-null   object
 2   Year          9582 non-null   int64
 3   Age           9582 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9582 non-null   object
 6   Owner         9582 non-null   object
 7   FuelType      9582 non-null   object
 8   PostedDate    9582 non-null   object
 9   AdditionInfo  9582 non-null   object
 10  AskPrice      9582 non-null   object
dtypes: int64(2), object(9)
memory usage: 823.6+ KB

In [124]:
usedCar_df['Year'].unique()

array([2001, 2009, 2010, 2017, 2019, 2014, 2020, 2018, 2021, 2012, 2007,
       2016, 2015, 2023, 2011, 2022, 2013, 2006, 2005, 2024, 1998, 2008,
       2004, 1994, 2002, 2003, 1997, 2000, 1990, 1996, 1999, 1986])

In [125]:
usedCar_df['AskPrice'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9577    False
9578    False
9579    False
9580    False
9581    False
Name: AskPrice, Length: 9582, dtype: bool

In [126]:
usedCar_df['kmDriven']

0         98,000 km
1       190000.0 km
2         77,246 km
3         83,500 km
4         45,000 km
           ...
9577     105,904 km
9578      55,000 km
9579      92,000 km
9580      72,000 km
9581      83,228 km
Name: kmDriven, Length: 9582, dtype: object

Remove kms

In [127]:
usedCar_df['FuelType'].unique()

array(['Petrol', 'Diesel', 'Hybrid/CNG'], dtype=object)

In [128]:
usedCar_df['Year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9582 entries, 0 to 9581
Series name: Year
Non-Null Count  Dtype
--------------  -----
9582 non-null   int64
dtypes: int64(1)
memory usage: 75.0 KB

In [129]:
usedCar_df['AskPrice']  ### remove ',' and  '₹'

0        ₹ 1,95,000
1        ₹ 3,75,000
2        ₹ 1,84,999
3        ₹ 5,65,000
4        ₹ 6,85,000
           ...
9577    ₹ 10,40,000
9578     ₹ 3,75,000
9579     ₹ 4,15,000
9580     ₹ 8,55,000
9581     ₹ 6,99,000
Name: AskPrice, Length: 9582, dtype: object

In [130]:
usedCar_df['AskPrice']=usedCar_df['AskPrice'].str.replace(',','')

In [131]:
usedCar_df['AskPrice']

0        ₹ 195000
1        ₹ 375000
2        ₹ 184999
3        ₹ 565000
4        ₹ 685000
          ...
9577    ₹ 1040000
9578     ₹ 375000
9579     ₹ 415000
9580     ₹ 855000
9581     ₹ 699000
Name: AskPrice, Length: 9582, dtype: object

In [132]:
usedCar_df['AskPrice']=usedCar_df['AskPrice'].str.replace('₹','').astype(int)

In [133]:
usedCar_df['AskPrice']

0        195000
1        375000
2        184999
3        565000
4        685000
         ...
9577    1040000
9578     375000
9579     415000
9580     855000
9581     699000
Name: AskPrice, Length: 9582, dtype: int64

In [134]:
usedCar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   model         9582 non-null   object
 2   Year          9582 non-null   int64
 3   Age           9582 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9582 non-null   object
 6   Owner         9582 non-null   object
 7   FuelType      9582 non-null   object
 8   PostedDate    9582 non-null   object
 9   AdditionInfo  9582 non-null   object
 10  AskPrice      9582 non-null   int64
dtypes: int64(3), object(8)
memory usage: 823.6+ KB

In [135]:
usedCar_df['kmDriven']

0         98,000 km
1       190000.0 km
2         77,246 km
3         83,500 km
4         45,000 km
           ...
9577     105,904 km
9578      55,000 km
9579      92,000 km
9580      72,000 km
9581      83,228 km
Name: kmDriven, Length: 9582, dtype: object

In [136]:
usedCar_df['kmDriven']= usedCar_df['kmDriven'].str.replace(' km','')

In [137]:
usedCar_df['kmDriven']

0         98,000
1       190000.0
2         77,246
3         83,500
4         45,000
          ...
9577     105,904
9578      55,000
9579      92,000
9580      72,000
9581      83,228
Name: kmDriven, Length: 9582, dtype: object

In [138]:
usedCar_df['kmDriven']= usedCar_df['kmDriven'].str.replace(' ,','')

In [139]:
usedCar_df['kmDriven']

0         98,000
1       190000.0
2         77,246
3         83,500
4         45,000
          ...
9577     105,904
9578      55,000
9579      92,000
9580      72,000
9581      83,228
Name: kmDriven, Length: 9582, dtype: object

In [140]:
usedCar_df['kmDriven'] = pd.to_numeric(usedCar_df['kmDriven'],errors='coerce')

In [141]:
usedCar_df['kmDriven']

0            NaN
1       190000.0
2            NaN
3            NaN
4            NaN
          ...
9577         NaN
9578         NaN
9579         NaN
9580         NaN
9581         NaN
Name: kmDriven, Length: 9582, dtype: float64

In [142]:
usedCar_df['kmDriven'] = usedCar_df['kmDriven'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [165]:
usedCar_df['kmDriven']

0        98000
1       190000
2        77246
3        83500
4        45000
         ...
9577    105904
9578     55000
9579     92000
9580     72000
9581     83228
Name: kmDriven, Length: 9535, dtype: int64

In [168]:
usedCar_df.isnull().sum()

Brand           0
model           0
Year            0
Age             0
kmDriven        0
Transmission    0
Owner           0
FuelType        0
PostedDate      0
AdditionInfo    0
AskPrice        0
dtype: int64

In [169]:
usedCar_df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,98000,Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...",195000
1,Toyota,Innova,2009,15,190000,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...",375000
2,Volkswagen,VentoTest,2010,14,77246,Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...",184999
3,Maruti Suzuki,Swift,2017,7,83500,Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,565000
4,Maruti Suzuki,Baleno,2019,5,45000,Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol",685000
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,10,105904,Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel",1040000
9578,Maruti Suzuki,Alto-800,2020,4,55000,Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...",375000
9579,Maruti Suzuki,Ritz,2013,11,92000,Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel",415000
9580,Hyundai,Verna,2019,5,72000,Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol",855000
9581,Hyundai,New i20,2021,3,83228,Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol",699000

In [171]:
usedCar_df['FuelType'].unique()

array(['Petrol', 'Diesel', 'Hybrid/CNG'], dtype=object)

In [173]:
usedCar_df.head()

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,98000,Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...",195000
1,Toyota,Innova,2009,15,190000,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...",375000
2,Volkswagen,VentoTest,2010,14,77246,Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...",184999
3,Maruti Suzuki,Swift,2017,7,83500,Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,565000
4,Maruti Suzuki,Baleno,2019,5,45000,Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol",685000

In [180]:
usedCar_df['Brand'].unique()

array(['Honda', 'Toyota', 'Volkswagen', 'Maruti Suzuki', 'BMW', 'Ford',
       'Kia', 'Mercedes-Benz', 'Hyundai', 'Audi', 'Renault', 'MG',
       'Volvo', 'Skoda', 'Tata', 'Mahindra', 'Mini', 'Land Rover', 'Jeep',
       'Chevrolet', 'Jaguar', 'Fiat', 'Aston Martin', 'Porsche', 'Nissan',
       'Force', 'Mitsubishi', 'Lexus', 'Isuzu', 'Datsun', 'Ambassador',
       'Rolls-Royce', 'Bajaj', 'Opel', 'Ashok', 'Bentley', 'Ssangyong',
       'Maserati'], dtype=object)

In [174]:
usedCar_df.to_csv('cleanedcar.csv')

MODEL

In [149]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import joblib

# Load dataset
df = pd.read_csv("cleanedcar.csv")

# Drop unnecessary columns
df = df.drop(columns=["Unnamed: 0", "AdditionInfo", "PostedDate"])

# Define features and target
X = df.drop(columns=["AskPrice"])
y = df["AskPrice"]

# Identify categorical and numerical columns
categorical_cols = ["Brand", "model", "Transmission", "Owner", "FuelType"]
numerical_cols = ["Year", "Age", "kmDriven"]

# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ("num", "passthrough", numerical_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols)
    ]
)

# Create the full pipeline with a Random Forest model
model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("regressor", RandomForestRegressor(random_state=42))
])

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R² Score: {r2:.2f}")

# Save the model
joblib.dump(model, "car_price_predictor_model.pkl")

# --- Sample Prediction ---
sample_data = pd.DataFrame([{
    "Brand": "Skoda",
    "model": "Octavia",
    "Year": 2016,
    "Age": 8,
    "kmDriven": 450000,
    "Transmission": "Automatic",
    "Owner": "second",
    "FuelType": "Petrol"
}])

# Load model and predict
loaded_model = joblib.load("car_price_predictor_model.pkl")
predicted_price = loaded_model.predict(sample_data)
print(f"\nPredicted Car Price: ₹{int(predicted_price[0])}")

Mean Squared Error: 615099356482.74
R² Score: 0.73

Predicted Car Price: ₹808049